<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Приложению требуется доступ к Bluetooth для связи с устройствами ESP32. Мы используем Bluetooth для поиска и подключения к вашему ESP32 устройству для обмена сообщениями.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Приложению требуется доступ к Bluetooth для связи с устройствами ESP32. Мы используем Bluetooth для поиска и подключения к вашему ESP32 устройству для обмена сообщениями.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
